<div class="buttonreihe lehrer">
  <button *ngFor="let einer of lehrer; index as l" (click)="planLehrer(einer)"> {{einer.kuerzel}} </button>
  <button id="stundenPlanDrucken" (click)="stundenPlanDruck()">Stundenplan drucken</button>
</div>
<div class="buttonreihe class">
  <button *ngFor="let eine of klassen; index as k" (click)="planKlasse(eine)"> {{eine}} </button>
</div>


<h1 >Stundenplan </h1>
<h2 *ngIf="aktuellerPlan" >{{aktuellerPlan.getTitel()}}</h2>
<table *ngIf="aktuellerPlan&&planMakerService.lehrer_klasse_duplicatesVert" id="stundenPlan">
  <tbody>
    <tr class="reihe reiheOben">
      <td class="first"> </td>
      <td> Montag </td>
      <td> Dienstag </td>
      <td> Mittwoch </td>
      <td> Donnerstag </td>
      <td> Freitag </td>
    </tr>

    <tr *ngFor="let reihe of aktuellerPlan.stundenPlan; index as r" class="reihe">
      <td class="firstbox ">
        {{r+1}}
      </td>
      <ng-container *ngFor="let cell of reihe; index as c">
        <td class=" normalsize" *ngIf=" !planMakerService.lehrer_klasse_duplicatesVert[r][c]   
           ||(planMakerService.lehrer_klasse_duplicatesVert[r][c]   
           &&   planMakerService.lehrer_klasse_duplicatesVert[r][c][0]===r)" [attr.rowspan]="planMakerService.lehrer_klasse_duplicatesVert[r][c]  
         &&planMakerService.lehrer_klasse_duplicatesVert[r][c]!==undefined?
         planMakerService.lehrer_klasse_duplicatesVert[r][c].length:1">
          <div class="zelle">
            <!--    <div class="zellkind">-->
            <div *ngFor="let lehrerItemErw of cell" class="container">
              <div class="unterrichtsFeld {{fachcolor(lehrerItemErw[1])}}">
                {{lehrerItemErw?lehrerItemErw[1]:""}}
              </div>
              <div class="lehrerKuerzel" *ngIf="aktuellerPlan.lehrer===undefined">
                <!-- wenn Lehrer definiert, will ich ihn im Plan nicht sehen!-->
                {{lehrerItemErw[0]?lehrerItemErw[0].kuerzel:""}}
              </div>
              <div class="Klasse" *ngIf="aktuellerPlan.klasse===undefined">
                {{lehrerItemErw[2]}}
              </div>
            </div>
          </div>
          <!--</div>-->
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>


<!--Epoche, Schiene und Rhythmus:-->
<h3 > Rhythmischer Teil:</h3>
<div *ngIf="aktuellerPlan.rhythmusPlan!null" id="rhythmus" >
  <div *ngFor="let reihe of aktuellerPlan.rhythmusPlan; index as r" class="zeile">
    <div class="block">
      <!--Datum-->
      <div class="datumZeile">
        <div *ngFor="let datum of aktuellerPlan.datumString[r]" class="datum cell"> {{datum?datum:""}}</div>
      </div>
      <!--lehrerFach-Items-->
      <div class="contentZeile">
        <ng-container *ngFor="let cell of reihe; index as c">
          <div   
          *ngIf="( !planMakerService.lehrer_klasse_duplicatesRhythmus[r][c])||(planMakerService.lehrer_klasse_duplicatesRhythmus[r][c] &&planMakerService.lehrer_klasse_duplicatesRhythmus[r][c][0]===c)"
            class=" {{planMakerService.lehrer_klasse_duplicatesRhythmus[r][c]? 'size-'+planMakerService.lehrer_klasse_duplicatesRhythmus[r][c].length:'normalsize'}}">
            <div class="zelle">
              <div *ngFor="let lehrerItemErw of cell " class="container">
                <div class="unterrichtsFeld {{fachcolor(lehrerItemErw[1])}}">
                  {{lehrerItemErw?lehrerItemErw[1]:""}}
                </div>
                <div class="lehrerKuerzel" *ngIf="aktuellerPlan.lehrer===undefined">
                  {{lehrerItemErw[0]?lehrerItemErw[0].kuerzel:""}}
                </div>
                <div class="Klasse" *ngIf="aktuellerPlan.klasse===undefined">
                  {{lehrerItemErw[2]}}
                </div>
              </div>

            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="block">Ferien</div>
  </div>
</div>

<h3 > Epochen:</h3>
<div *ngIf="aktuellerPlan.epochenPlan" id="epochen">
  <div *ngFor="let reihe of aktuellerPlan.epochenPlan; index as r" class="zeile">
    <div class="block">
      <!--Datum-->
      <div class="datumZeile">
        <div *ngFor="let datum of aktuellerPlan.datumString[r]" class="datum cell"> {{datum?datum:""}}</div>
      </div>
      <!--lehrerFach-Items-->
      <div class="contentZeile">
        <ng-container *ngFor="let cell of reihe; index as c">
          <div
            *ngIf="planMakerService.lehrer_klasse_duplicatesEpoche[r][c]==null||(planMakerService.lehrer_klasse_duplicatesEpoche[r][c]!==null && planMakerService.lehrer_klasse_duplicatesEpoche[r][c][0]===c )"
            class=" {{planMakerService.lehrer_klasse_duplicatesEpoche[r][c]? 'size-'+planMakerService.lehrer_klasse_duplicatesEpoche[r][c].length:'normalsize'}}">
            <div class="zelle">
              <div *ngFor="let lehrerItemErw of cell" class="container ">
                <div class="unterrichtsFeld {{fachcolor(lehrerItemErw[1])}}">
                  {{lehrerItemErw?lehrerItemErw[1]:""}}
                </div>
                <div class="lehrerKuerzel" *ngIf="aktuellerPlan.lehrer===undefined">
                  {{lehrerItemErw[0]?lehrerItemErw[0].kuerzel:""}}
                </div>
                <div class="Klasse" *ngIf="aktuellerPlan.klasse===undefined">
                  {{lehrerItemErw[2]}}
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="block">Ferien</div>
  </div>
</div>


<h3 > Schiene:</h3>
<div *ngIf="aktuellerPlan.schienenPlan" id="schiene" >
  <div *ngFor="let reihe of aktuellerPlan.schienenPlan; index as r" class="zeile">
    <div class="block">
      <!--Datum-->
      <div class="datumZeile">
        <div *ngFor="let datum of aktuellerPlan.datumString[r]" class="datum cell"> {{datum?datum:""}}</div>
      </div>
      <!--lehrerFach-Items-->
      <div class="contentZeile">
        <ng-container *ngFor="let cell of reihe; index as c">
          <div
            *ngIf="(!planMakerService.lehrer_klasse_duplicatesSchiene[r][c])||(planMakerService.lehrer_klasse_duplicatesSchiene[r][c] && planMakerService.lehrer_klasse_duplicatesSchiene[r][c][0]===c )"
            class="{{planMakerService.lehrer_klasse_duplicatesSchiene[r][c]? 'size-'+planMakerService.lehrer_klasse_duplicatesSchiene[r][c].length:'normalsize'}}">
            <div class="zelle">
              <div *ngFor="let lehrerItemErw of cell" class="container ">
                <div class="unterrichtsFeld {{fachcolor(lehrerItemErw[1])}}">
                  {{lehrerItemErw?lehrerItemErw[1]:""}}
                </div>
                <div class="lehrerKuerzel" *ngIf="aktuellerPlan.lehrer===undefined">

                  {{lehrerItemErw[0]?lehrerItemErw[0].kuerzel:""}}
                </div>
                <div class="Klasse" *ngIf="aktuellerPlan.klasse===undefined">
                  {{lehrerItemErw[2]}}
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="block">Ferien</div>
  </div>
</div>

<br>
<br>
<br>
<br>


<div id="printcontainer2"></div>
