*{min-width:20pt;
min-height:20pt;}


.gesamtplan{  
  width:80%;
  margin-left:15pt;
  border: solid 1pt; 
  border-radius:15pt;
}
.buttonreihe{
  display:flex;

  button{width:100%;
      border:none;
          margin:2pt;
          padding:1pt;
          background-color:rgb(132, 158, 147);
          border-radius:5pt;
  }
  button:hover{
      background-color:indianred;
  }
  
}


.reihe {
  border-bottom:dotted 1pt;
  min-height:40pt;
  font-size: 13pt;
  display: flex;
  text-align: center;
  >div {
    width: 19%;
    display:flex;
    text-align:center;
    border-right:dotted 1pt;
    ///background-color:violet;
  }
  >div:last-child{                     //reihe rechts
    border-right:dotted 0pt;
  }
  >div:first-child {          //reihe links
    width:20pt;
    justify-content: center;
  }
}
.reihe:last-child{
  border-bottom:dotted 0pt;
}

.container {
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;

  .unterrichtsFeld {
    font-size: 13pt;
    text-align: center;
    width: 100%;
  }

  .lehrerKuerzel {
    font-size: 7pt;
    text-align: center;
    width: 100%;
  }

}

.reiheOben{
  padding-top:10pt;
  font-weight: bold;
  >div{
    >div{
      width:100%;
      //background-color:Green;
    }
  }
}

