*{color:rgb(173, 162, 162);}
h3{font-size:14pt;}



 .normalsize{
  width:20pt;
  //width:10%;
}
.size-1{
  width:20pt;
}
.size-2{
  width:40pt;
  border:1pt solid;
 // width:14%;
}
.size-3{
  width:60pt;
  border:1pt solid;
 // width:21%;
}
.size-4{
  width:80pt;
  border:1pt solid;
  //width:32%;
}
.size-5{
  width:100pt;
  border:1pt solid;
 // width:40%;
}
.size-6{
  width:120pt;
 // width:48%;
 border:1pt solid;
}
.size-7{
  width:140pt;
  border:1pt solid;
 //width:56%;
}
.size-8{
  width:160pt;
 //width:64%;
}
.buttonreihe {
  display: flex;
  background-color: rgb(78, 161, 120);


  button {
    //width:100%;
    border: none;
    border-left: 1px solid;

    margin: 0pt;

    background-color: inherit;
    color:lightgrey;
    // background-color:rgb(132, 158, 147);
    //  border-radius:5pt;
  }

  button:hover {
    background-color: indianred;
  }
}

.Ma{background-color:rgb(243, 111, 111);}
.Engl{background-color:rgb(108, 148, 108);}
.Deu{background-color:rgb(131, 131, 243);}
.Fr{background-color:rgb(174, 119, 219);}
.HU{background-color:rgb(153, 134, 134);}




.block{
  display: block;
  border-radius:15pt;
  width:100%;
 // background-color:pink;
}

.lehrer button {
  padding: 0.8pt;
}

.zeile{ 
  display:flex; //darin zwei blocks
}

.contentZeile{display:flex;
  font-size:9pt;
div{
  //background-color:blue;
}
}

.datumZeile{
  display:flex;
  border-bottom: solid 1pt;
  margin-bottom:0pt;
  padding-bottom:0pt;
}


//@at-root
#rhythmus, #epochen,#schiene{
  display:flex;

  margin:0pt;
 padding:0pt;
  width:100%;
 }

 
 .cell{
   margin:0pt;
   padding:0pt;
   font-size:7pt;
   width:20pt;
  // height:40pt;
   //background-color:green;
  // overflow: hidden;
 }
  
 
.contentZeile{
 .zelle{
  // background-color:blue;
   width:100%;
   height:100%;
   padding:0pt;
   margin:0pt;
   .container{
    width:100%;
    background-color: pink;
    padding:0pt;
   div{ //Datum und container für LehrerFach
    display:center;
    margin:0pt;
   padding: 0pt;
   width:100%;
   background-color: green;
   }
  }
 }
}


//nur gefüllte container:
.container{
 // background-color:gray;
}


//----------------------------------------------------------------------kopiert von ges-plan


#stundenPlan {
  margin-left:auto;
  margin-right:auto;
  margin-top: 9pt;
  line-height: 0.8em;
  row-gap: 0pt;
  border-spacing: 0pt;
  border-collapse: collapse;

  tr {
    min-height: 20pt;
    margin: 0pt;
    padding: 0pt;
    border: 1px solid;

    >td {
      //Cell td
    
  //    background-color: green;
      border: solid 1pt;
      text-align: center;
      width:auto;
      padding: 0pt;
 
        .container {
          display:inline-block;
          width:auto;
          padding: 2pt;
          margin:1pt;
          border-right: 1pt solid;

          div{
         display:block;
            width:40pt;
            //display:block;
          }

          .unterrichtsFeld {
            //width: 100%;
            padding-top: 1px;
            padding-bottom: 1pt;

          }

          .lehrerKuerzel {
            font-size: 7pt;
            padding-top: 2pt;
            padding-bottom: 2pt;
          }

          .Klasse {
            font-size: 7pt;
            padding-top: 2pt;
            padding-bottom: 2pt;
          }
        }
        :last-child{border-right:solid 0pt;}
    
    
    }
  }
}



.reihe:last-child {
  //border-bottom:dotted 0pt;
}

.reiheOben {
  padding-top: 5pt;
  padding-bottom: 3pt;

  font-weight: bold;
}
//print

#printcontainer2{
  *{padding:0pt;
  margin:0pt;
}
  width:1150pt;
  
  //background-color: green;
  }
//im printcontainer:
//Stundenplan überschrift: 
#printcontainer2 h1 {
  padding-top: 0pt;
  font-size: 30pt;
  display: inline;
  text-decoration: none;
  margin-left:10pt;
}
#printcontainer2 h2 {
  font-size: 30pt;
  display: inline;
  margin-left: 5pt;
}


//tabelle: -----------------------------------------------------------------------------------------


#printcontainer2 table {
  
  font-size: 25pt;
  margin-left: 15pt;
  margin-top: 15pt;
  width:1150pt;
  max-width:1150pt;
   line-height: 0.8em; 
  border-collapse: collapse;
  margin-bottom:30pt;


  tr {
    min-height: 20pt;
    border: 1px solid;
   
    margin:2pt;
    .first{
    padding:0pt;
      font-size:30pt;
      max-height:auto;
      min-height:20pt;
      height:40pt;
    }
    >td {
      //Cell td 
     // max-width: 130pt;
      overflow: hidden;   
      border-right: none; 
   //.container {  //mega fett......   //LehrerFach-behälter //display table-row-group geht..
  
    .zelle{//display:table;
      display:flex;
      flex-wrap: wrap;
      min-width:75pt;
      width:75pt;
      max-width:75pt;
     
    //  background-color:red;
      padding:0pt;
        .container {   //jetzt wieder div
         // background-color:blue;
         padding:0pt;
          border-right: none; 
        //  background-color:yellow;   
          display:table-row;  //nicht optimal, aber inline is auch nich besser?
          width:85pt;
          max-width:85pt;
          min-width:85pt;
          height:20pt;
          //max-width:33pt!important;
       //   overflow: hidden;

          div{ //unterrichtsfeld, klasse etc, bunte felder
            display:table-cell;
            padding-top: 0px;
            padding-bottom: 0pt;
            overflow: hidden;
            font-size: 20pt;
            text-align:left;
          }

          .unterrichtsFeld {  // background-color: violet; 
            max-width:80pt;
            width:80pt;
            min-width:80pt;
            padding-left:15pt;
         //   background-color:yellow;
          }
    
          .lehrerKuerzel {
            min-width:25pt;
            width:25pt;
    //      background-color: red;
           // color:red;
            text-align:right;
          }
    
          .Klasse {
            width:25pt;
            min-width:25pt;
            text-align:right;
         //   color:darkorange;
    
     //       background-color: orange;
          }

        }
      }
    }   
  }
}

//farben:
#printcontainer2   .normalsize{
    width:25pt;
    //width:10%;
  }
  #printcontainer2  .size-1{
    width:25pt;
  }
  #printcontainer2  .size-2{
    width:50pt;
   // width:14%;
  }
  #printcontainer2   .size-3{
    width:75pt;
   // width:21%;
  }
  #printcontainer2   .size-4{
    width:100pt;
    //width:32%;
  }
  #printcontainer2   .size-5{
    width:125pt;
   // width:40%;
  }
  #printcontainer2   .size-6{
    width:150pt;
   // width:48%;
  }
  #printcontainer2   .size-7{
    width:175pt;
   //width:56%;
  }

 
#printcontainer2  .cell{    width:25pt;
 
}

#printcontainer2 .container{

}

