<div class="buttonreihe lehrer">
  <button *ngFor="let einer of lehrer; index as l" (click)="planLehrer(einer)"> {{einer.kuerzel}} </button>
  <button id="stundenPlanDrucken" (click)="stundenPlanDruck()">Stundenplan drucken</button>
</div>
<div class="buttonreihe class">
  <button *ngFor="let eine of klassen; index as k" (click)="planKlasse(eine)"> {{eine}} </button>
</div>


<h1 class="noprint">Stundenplan </h1>
<h2 *ngIf="aktuellerPlan" class="noprint">{{aktuellerPlan.getTitel()}}</h2>
<table *ngIf="aktuellerPlan" id="stundenPlan">
  <tbody>
    <tr class="reihe reiheOben">
      <td class="first"> </td>
      <td> Montag </td>
      <td> Dienstag </td>
      <td> Mittwoch </td>
      <td> Donnerstag </td>
      <td> Freitag </td>
    </tr>

    <tr *ngFor="let reihe of aktuellerPlan.stundenPlan; index as r" class="reihe">
      <td class="first">
        {{r+1}}
      </td>
      <td *ngFor="let cell of reihe; index as c">
        <div class="zelle">
          <!--    <div class="zellkind">-->
          <div *ngFor="let lehrerItemErw of cell" class="container">
            <div class="unterrichtsFeld {{fachcolor(lehrerItemErw[1])}}">
              {{lehrerItemErw?lehrerItemErw[1]:""}}
            </div>
            <div class="lehrerKuerzel" *ngIf="aktuellerPlan.lehrer===undefined">
              <!-- wenn Lehrer definiert, will ich ihn im Plan nicht sehen!-->
              {{lehrerItemErw[0]?lehrerItemErw[0].kuerzel:""}}
            </div>
            <div class="Klasse" *ngIf="aktuellerPlan.klasse===undefined">
              {{lehrerItemErw[2]}}
            </div>
          </div>
        </div>
        <!--</div>-->
      </td>
    </tr>
  </tbody>
</table>


<!--Epoche, Schiene und Rhythmus:-->
<h3 class="noprint"> Rhythmischer Teil:</h3>
<div *ngIf="aktuellerPlan.rhythmusPlan!null"    id="rhythmus" class="noprint">

  <div *ngFor="let reihe of aktuellerPlan.rhythmusPlan; index as r" class="epochenReihe">
    <ng-container *ngIf="this.var==r">
    <div *ngFor="let cell of reihe; index as c" class="cell">
      <div class="zelle" *ngIf="aktuellerPlan.rhythmusPlan[r][c]">
        <div class="datum"> {{aktuellerPlan.rhythmusPlan[r][c]?aktuellerPlan.datumString[r][c]:""}}</div>
        <div *ngFor="let lehrerItemErw of cell" class="container ">
          <div class="unterrichtsFeld {{fachcolor(lehrerItemErw[1])}}">
            {{lehrerItemErw?lehrerItemErw[1]:""}}
          </div>
          <div class="lehrerKuerzel" *ngIf="aktuellerPlan.lehrer===undefined">

            {{lehrerItemErw[0]?lehrerItemErw[0].kuerzel:""}}
          </div>
          <div class="Klasse" *ngIf="aktuellerPlan.klasse===undefined">
            {{lehrerItemErw[2]}}
          </div>
        </div>
      </div>
    </div>
    <div>Ferien</div>
  </ng-container>
    
  </div>
</div>

<h3 class="noprint"> Epochen:</h3>
<div *ngIf="aktuellerPlan.epochenPlan"   id="epochen" class="noprint">
  <div *ngFor="let reihe of aktuellerPlan.epochenPlan; index as r" class="epochenReihe">
    <ng-container *ngIf="r==this.var">
    <div *ngFor="let cell of reihe; index as c" class="cell">
      <div class="zelle">
        <div class="datum"> {{aktuellerPlan.datumString[r][c]?aktuellerPlan.datumString[r][c]:""}}</div>
        <div *ngFor="let lehrerItemErw of cell" class="container ">
          <div class="unterrichtsFeld {{fachcolor(lehrerItemErw[1])}}">
            {{lehrerItemErw?lehrerItemErw[1]:""}}
          </div>
          <div class="lehrerKuerzel" *ngIf="aktuellerPlan.lehrer===undefined">
            {{lehrerItemErw[0]?lehrerItemErw[0].kuerzel:""}}
          </div>
          <div class="Klasse" *ngIf="aktuellerPlan.klasse===undefined">
            {{lehrerItemErw[2]}}
          </div>
        </div>
      </div>
    </div>
    <div>Ferien</div>
    </ng-container>
  </div>
</div>




<h3 class="noprint"> Schiene:</h3>

<div *ngIf="aktuellerPlan.schienenPlan"  id="schiene" class="noprint">

  <div *ngFor="let reihe of aktuellerPlan.schienenPlan; index as r" class="epochenReihe">
    <ng-container *ngIf="r==this.var">
    <div *ngFor="let cell of reihe; index as c" class="cell">
      <div class="zelle">
        <div class="datum"> {{aktuellerPlan.datumString[r][c]?aktuellerPlan.datumString[r][c]:""}}</div>
        <div *ngFor="let lehrerItemErw of cell" class="container ">
          <div class="unterrichtsFeld {{fachcolor(lehrerItemErw[1])}}">
            {{lehrerItemErw?lehrerItemErw[1]:""}}
          </div>
          <div class="lehrerKuerzel" *ngIf="aktuellerPlan.lehrer===undefined">

            {{lehrerItemErw[0]?lehrerItemErw[0].kuerzel:""}}
          </div>
          <div class="Klasse" *ngIf="aktuellerPlan.klasse===undefined">
            {{lehrerItemErw[2]}}
          </div>
        </div>
      </div>
    </div>
    <div>Ferien</div>
    </ng-container>
  </div>
</div>

<br>
<br>
<br>
<br>


<div id="printcontainer2"></div>
