

*{margin:0pt;
padding:0pt;}
body{
  line-height:normal;
  
}
#buttonmenu{
  display: grid;
  grid-template-columns: 50% 50%;
  background-color:    rgb(78, 161, 120);
}
.center{
  text-align: center;
}
#save{
  //align-items: center;
}

.normalsize{
  colspan: 1;
  //width:10%;
}
.size-1{
  colspan: 1;
}
.size-2{
  column-span: 2;
 // width:14%;
}
.size-3{
  column-span: 3;
 // width:21%;
}
.size-4{
  column-span: 4;
  //width:32%;
}
.size-5{
  column-span: 5;
 // width:40%;
}
.size-6{
  column-span: 6;
 // width:48%;
}
.size-7{
  column-span: 7;
 //width:56%;
}
.size-8{
  column-span: 8;
 //width:64%;
}

.hoehe1{
  height: 25pt;
}
.hoehe2{
  height: 50pt;
}
.hoehe3{
  height: 75pt;
}



.buttonreihe div button{
  border:none;
      margin:2pt; 
      background-color:inherit;
      border-radius:5pt;    
}
.buttonreihe div button:hover{
  background-color:indianred;
}


.rot{background-color:red;} //doppelte/falsche lehrer ;P
.violet{background-color: rgb(229, 236, 132)} //Schiene// rgb(125, 224, 175)
.gruen{background-color: rgb(78, 161, 120)} //epoche
.gold{background-color:  rgb(189, 212, 147);} //rhythmischer teil
.hellblau{background-color:rgb(104, 172, 212)} //standard hintergrund-farbe
#mittag{background-color:blue;
border-radius:5pt;
color:lightgrey;}

tr td:first{width:10pt;}

.gesamtStundenplan-Table{
  margin-top:9pt;
  line-height:1em ;
   border:1pt;
   row-gap:0pt;
   border-spacing:0pt;
   border-collapse:collapse;
  
 

  tr{
    min-height:40pt;
    margin:0pt;
    padding:0pt;
    border: 1px solid ;

   td{
    border: solid 1pt;
    //min-width:50pt;
     text-align:center;
    // background-color:lightgreen;
     padding:0pt;
     .dropButton{ /*Der ganze Button/jetzt div/ in der Table-Zelle*/
    
    // background-color:orange;
      border:0;
      min-width:10pt;
      min-height:8pt;
    ///  background-color:pink; //HIER DARF kein Hintergrund rein SONST WIRDS NICHTs ROT
      display:flex;
    
      div{      //Lehrer-Fach-Behälter
        width:100%;
        padding-top: 1pt;
        padding-bottom: 1pt;
        border-right:1pt solid;
        //background-color:green;
  
        display: flex;
        flex-direction: column;
        justify-content: center;
        
      :first-child{
       // border-top: 1px solid ;
      //  border-right:1px solid;
       // border-bottom: 1px dotted;
       // background-color:yellow;
        width:100%;
        padding-top:1px;
        padding-bottom:1pt;
        vertical-align: middle;

     // background-color:yellow;
     //   margin:2pt;
      }
      :nth-child(2){
        vertical-align: middle;
 
        font-size:7pt;
        padding-top:2pt;
        padding-bottom:2pt;
    //    border-right:1px solid;
       // border-bottom: 1px solid;
     //   background-color:red;
      //  margin:2pt;
      }
    }
    :last-child  {   // das letzte div ohne rahmen
  
      border-right:0px solid;

    }
   
    
    }
   }
   
  }
  
}

.fachklein{font-size:10pt;}



.buttonContainer{  /* der Aufpopp-Rahmen*/
 
border:none;
margin:0pt;
padding:0pt;



  .dropCell{           /* das ist der button im Aufplopp-Rahmen*/
    text-align:left;
    display:flex;
    .dropSpan1{
   //   background-color:green;
      width:80pt;
      padding-left:10pt;
      padding-right:5pt;
      border-radius:5pt;
    }
    .dropSpan2{
     // background-color:yellow;
      width:200pt;
      padding-left:10pt;
      padding-right:5pt;
      border-radius:5pt;

    }
  }
}

#stundenPlanContainer{
  margin-top:15pt;
 // background-color:lightpink;
}

#epochenplan{
  margin-top:15pt;
  margin-left:15pt;
 // background-color: lightgoldenrodyellow;
}


.first{width:10pt;
height: 20pt;}
 

.klassen-titel{
  font-size:8pt;
}

