<div id="buttonmenu" class="buttonreihe">
  <div class="center">
    <button (click)="wochenTag('montag')">Montag</button>
    <button (click)="wochenTag('dienstag')"> Dienstag</button>
    <button (click)="wochenTag('mittwoch')">Mittwoch</button>
    <button (click)="wochenTag('donnerstag')">Donnerstag</button>
    <button (click)="wochenTag('freitag')">Freitag</button>

  </div>
  <div class="center">
    <button id="save" (click)="save()">Save</button>


    <button id="printGesamtplaene" (click)="printGesamtplaene()">Gesamtpläne drucken</button>
  </div>
</div>

<h1>Gesamtplan</h1>
<h2>{{ueberschrift()}}</h2>
<table #tabelle id="table" *ngIf="stundenRaster" class="gesamtStundenplan-Table">
  <tbody>
    <tr>
      <td></td>
      <td class="klassen-titel" *ngFor="let zelle of stundenRaster[0]; index as f">{{f+1}}. Klasse</td>
    </tr>
    <tr *ngFor="let row of stundenRaster;index as r">
      <td class="first">{{r+1}}</td>

      <td class="box" *ngFor="let cell of row; index as c">

        <div triggers="click" [autoClose]="true" class="dropButton" [ngbTooltip]="Lehrer" placement="bottom">
          <!-- -->
          <div *ngFor="let lehrerFach of cell" class="{{doppelt(row,lehrerFach[0],r,c)}} lehrerFachBehaelter">

            <p>{{lehrerFach?lehrerFach[1]:""}}</p>
            <p>{{lehrerFach?lehrerFach[0].kuerzel:""}}</p>
          </div>
        </div>

        <ng-template #Lehrer>
          <div class="buttonContainer">
            <button (click)="deleteAll(r,c)" id="delete" class="btn btn-danger container-fluid">delete</button>

            <button *ngFor="let lehrerFach of lehrerErmitteln(c)" ngbDropdownItem
              (click)="lehrerWahl(r,c, lehrerFach,$event )"
              class="dropCell LehrerPopupButton {{farbwaehler(row,cell,lehrerFach[0],r,c)}}">

              <div class="dropSpan1">{{lehrerFach[0].kuerzel}}</div> :
              <div class="dropSpan2"> {{lehrerFach[1]}}</div>

            </button>

            <button (click)="mittagsPause(r,c,$event)" id="mittag" class="btn container-fluid"> Mittag </button>
          </div>
        </ng-template>

      </td>

    </tr>
  </tbody>
</table>
<!--
<app-gesamtplancopies></app-gesamtplancopies>
-->
<div id="printcontainer" class="printContainer" #printAdd>

</div>

<div>
  <div id="stundenPlanContainer">
    <app-wochenplan></app-wochenplan>
  </div>

  <p id="epochenplan">
    <app-epochen-scheduler></app-epochen-scheduler>
  </p>
</div>
