*{margin:0pt;
padding:0pt;}
body{line-height:normal;}

button:hover{
  background-color:indianred;
}
.rot{background-color:red;}
.violet{background-color:violet;}
.gruen{background-color:lightgreen;
    &:after{
      background:url('../../assets/icons/clear.svg');
    }    
}
.hellblau{background-color:lightsteelblue;}
#mittag{background-color:blue;
border-radius:5pt;
color:lightgrey;}
table{
  line-height:0.9 ;
   border:1pt;
   row-gap:0pt;
   border-spacing:0pt;

  tr{
    min-height:20pt;
    margin:0pt;
    padding:0pt;

   td{

    min-width:50pt;
    border:1px solid;
    border-collapse:collapse;
     text-align:center;
    // background-color:lightgreen;
     padding:0pt;
     .dropButton{ /*Der ganze Button/jetzt div/ in der Table-Zelle*/
      height:100%;
    // background-color:orange;
      border:0;
      min-width:40pt;
      min-height:25pt;
    ///  background-color:pink; //HIER DARF kein Hintergrund rein SONST WIRDS NICHTs ROT
      display:flex;
      div{      //Lehrer-Fach-Behälter
        width:100%;
        border-right:1px solid;
      :first-child{
       // background-color:yellow;
        width:auto;
        padding-top:2pt;
        padding-bottom:2pt;
     //   margin:2pt;
      }
      :nth-child(2){
        font-size:7pt;
        padding-top:2pt;
        padding-bottom:2pt;
     //   background-color:red;
      //  margin:2pt;
      }
    }
    :last-child  {   // das letzte div ohne rahmen
      border-right:0px solid;
    }
   
    
    }
   }
  }
}

.fachklein{font-size:10pt;}



.buttonContainer{  /* der Aufpopp-Rahmen*/
 
border:none;
margin:0pt;
padding:0pt;



  .dropCell{           /* das ist der button im Aufplopp-Rahmen*/
    text-align:left;
    display:flex;
    .dropSpan1{
   //   background-color:green;
      width:80pt;
      padding-left:10pt;
      padding-right:5pt;
      border-radius:5pt;
    }
    .dropSpan2{
     // background-color:yellow;
      width:200pt;
      padding-left:10pt;
      padding-right:5pt;
      border-radius:5pt;

    }
  }

}

.stundenPlanContainer{
  width:600pt;
}
 
