//achtung, css aus gesamtplan kopiert, kann vieles nutzlos sein...
*{margin:0pt;
    padding:0pt;}
    .btn-outline-primary{
      color:inherit;
    }
.plan{
    padding:3pt;
}
.row ,.datumzeile{
    display:flex;
     height:30pt;
     margin-left:6pt;
  }


.first{
    width:40pt;}


.row >div, .datumzeile >div{
    min-width:20pt;
    border-top:solid 1pt;
    border-right:solid 1pt;
    font-size:8pt; 
   
}
.datumzeile >div{width:40pt;}

.zeile{margin-bottom:15pt;
}
.row  >div{
    border-bottom:solid 1pt;
    
}

.plan  :last-child{
    border-bottom: solid 1pt;
}

//.row  :first-child{border-left:solid 1pt}




.normalsize{
  width:40pt;
}
.size-1{
  width:40pt;
}
.size-2{
  width:80pt;
}
.size-3{
  width:120pt;
}
.size-4{
  width:160pt;
}
.size-5{
  width:200pt;
}
.size-6{
  width:240pt;
}
.size-7{
  width:280pt;
}
.size-8{
  width:320pt;
}

  .hellblau{background-color:lightsteelblue;}
  .rot{background-color:red;}
  .violet{background-color:violet;}
  .gruen{background-color:lightgreen;  }


.buttonContainer{  /* der Aufpopp-Rahmen*/
    border:none;
    margin:0pt;
    padding:0pt;  
      .toggleButton{           /* das ist der button im Aufplopp-Rahmen*/
       
        border:none;
        text-align:left;
        display:flex;
        .dropSpan1{
            border:none;
       //   background-color:green;
          width:80pt;
          padding-left:10pt;
          padding-right:5pt;
         // border-radius:5pt;
        }
        .dropSpan2{
            border:none;
         // background-color:yellow;
          width:200pt;
          padding-left:10pt;
          padding-right:5pt;
          border-radius:5pt;
    
        }
      }
    }

    .buttonDrop{ /*Der ganze Button/jetzt div/ in der Table-Zelle*/
        overflow: hidden;
        width:100%;
        height:100%;
      // background-color:orange;
        border:0;
        min-width:20pt;
        min-height:25pt;
      ///  background-color:pink; //HIER DARF kein Hintergrund rein SONST WIRDS NICHTs ROT
        display:flex;
        div{      //Lehrer-Fach-Behälter
          width:100%;
     //  background: yellow;
          height:100%; //NEU HIER

      }
      }

      .buttonDrop:hover{background-color:indianred;}