
<h1>Epochen-Plan</h1>

<div id="plan">
    <div class="oben">
        <div></div> <div>10.8. </div> <div>17. 8.</div> <div>24.8.</div> <div>31.8.</div> <div>7.9.</div> <div>14.9.</div> <div>21.9.</div> <div>28.9.</div>   
    </div>
    <div class="row">
        <div>Sommer- <br> ferien</div>  <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div>  <div>Herbst-<br> ferien</div> 
    </div>
    <div class="oben">
        <div></div>  <div>19.10.</div> <div>26.10.</div> <div>2.11.</div> <div>9.11.</div> <div>16.11.</div> <div>23.11.</div> <div>30.11.</div> <div>7.12.</div> <div>14.12.</div>   
    </div>
    <div class="row">

        <div>Herbst-<br> ferien</div>  <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div><div>Weihnachts- <br> ferien</div> 
    </div>
    <div class="oben">
        <div></div>  <div>Do. 7.1. </div> <div>11.1.</div> <div>18.1.</div> <div>25.1.</div> <div>1.2.</div> <div>8.2.</div> <div>15.2.</div> <div>22.2.</div> <div>1.3.</div> <div>8.3.</div> <div>15.3.</div> <div>22.3.</div> <div>29.3.-Mi.</div> 
    </div>
    <div class="row">
        <div>Weihnachts- <br> ferien</div>  <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div><div>Oster- <br> ferien</div> 
    </div>
    <div class="oben">
        <div></div>  <div>19.4.</div> <div>26.4.</div> <div>3.5.</div> <div>10.5.-Mi</div> <div>17.5.</div> <div>Di. 25.5.</div> <div>31.5.</div> <div>7.6.</div> <div>14.6.-Fr.</div>  
    </div>
    <div class="row">


        <div>Oster- <br> ferien</div>  <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div>  <div></div><div>Sommer- <br> ferien</div> 
    </div>
 


</div>


