<h1>Epochen-Plan </h1>
<h2> {{aktuelleKlasse}}. Klasse</h2>
<div id="buttonmenuEpochenplan">
<button (click)="changeClass(9)">Klasse 9</button>
<button (click)="changeClass(10)">Klasse 10</button>
<button (click)="changeClass(11)">Klasse 11</button>
<button (click)="changeClass(12)">Klasse 12</button> 
</div>

<div id="planRhythmus" *ngIf="planmakerS['rhythmus'+aktuelleKlasse]&&planmakerS.duplicatesRhythmus">
  <div class="zeile" *ngFor="let zeile of planmakerS['rhythmus'+aktuelleKlasse]; index as z">
    <div class="datumzeile">
      <div class="first normalsize"></div>
      <div *ngFor="let datum of datumstring[z]; index as c" class="normalsize {{emph(z,c)}}">{{datum}}</div>
    </div>
    <div class="row">
      <div class="first normalsize">
        <img *ngIf="z==0" src="../../../assets/icons/{{ferien[z]}}" width="20pt"/> 
        <img *ngIf="z==1" src="../../../assets/icons/{{ferien[z]}}" width="20pt"/> 
        <img *ngIf="z==2" src="../../../assets/icons/{{ferien[z]}}" width="20pt"/> 
        <img *ngIf="z==3" src="../../../assets/icons/{{ferien[z]}}" width="20pt"/> 
      </div>
      <ng-container *ngFor="let cell of zeile; index as c">
        <div 
          *ngIf="( !planmakerS.duplicatesRhythmus[z][c])      ||      (planmakerS.duplicatesRhythmus[z][c]        &&            planmakerS.duplicatesRhythmus[z][c][0]===c)"
          ngbDropdown class="{{planmakerS.duplicatesRhythmus[z][c]? 'size-'+planmakerS.duplicatesRhythmus[z][c].length:'size-1'}} ">
          <div class="btn btn-outline-primary buttonDrop rhythmus"
            id="dropdownConfig" ngbDropdownToggle>
            <!--hier click im main-->
            <div *ngFor="let lehrerFach of cell" class="lehrerFachBehaelter ">
              <p>{{lehrerFach?lehrerFach[0].kuerzel:""}}</p>
              <p>{{lehrerFach?lehrerFach[1]:""}}</p>
            </div>
          </div>
          <div ngbDropdownMenu aria-labelledby="dropdownConfig" class="buttonContainer">
            <button ngbDropdownItem *ngFor="let lehrerFach of lehrerErmitteln()" class="toggleButton "
              (click)="lehrerWahl('Rhythmus', z,c, lehrerFach,$event , zeile)">
              <!--hier click im toggle-->
              <div class="dropSpan1">{{lehrerFach[0].kuerzel}}</div> :
              <div class="dropSpan2"> {{lehrerFach[1]}}</div>
            </button>
          </div>
        </div>
      </ng-container>
      <!--<div>{{ferien[z+1]}}-<br> {{ferien[5]}}</div>-->
    </div>
  </div>
</div>

<div id="plan" *ngIf="planmakerS['epochenplan'+aktuelleKlasse]&&planmakerS.duplicatesEpoche">
  <div class="zeile" *ngFor="let zeile of planmakerS['epochenplan'+aktuelleKlasse]; index as z">
    <div class="datumzeile">
      <div class="first normalsize"></div>
      <div *ngFor="let datum of datumstring[z], index as c" class="normalsize {{emph(z,c)}}">{{datum}}</div>
    </div>
    <div class="row">
      <div class="first normalsize">
        <img *ngIf="z==0" src="../../../assets/icons/{{ferien[z]}}" width="20pt"/> 
        <img *ngIf="z==1" src="../../../assets/icons/{{ferien[z]}}" width="20pt"/> 
        <img *ngIf="z==2" src="../../../assets/icons/{{ferien[z]}}" width="20pt"/> 
        <img *ngIf="z==3" src="../../../assets/icons/{{ferien[z]}}" width="20pt"/> 
      </div>
      <ng-container *ngFor="let cell of zeile; index as c">
        <div
          *ngIf="( !planmakerS.duplicatesEpoche[z][c])      ||      (planmakerS.duplicatesEpoche[z][c]        &&            planmakerS.duplicatesEpoche[z][c][0]===c)"
          ngbDropdown class="{{planmakerS.duplicatesEpoche[z][c]? 'size-'+planmakerS.duplicatesEpoche[z][c].length:'size-1'}}">
          <div class="btn btn-outline-primary buttonDrop epoche"
            id="dropdownConfig" ngbDropdownToggle>
            <!--hier click im main-->
            <div *ngFor="let lehrerFach of cell" class="lehrerFachBehaelter ">
              <p>{{lehrerFach?lehrerFach[0].kuerzel:""}}</p>
              <p>{{lehrerFach?lehrerFach[1]:""}}</p>
            </div>
          </div>
          <div ngbDropdownMenu aria-labelledby="dropdownConfig" class="buttonContainer">
            <button ngbDropdownItem *ngFor="let lehrerFach of lehrerErmitteln()" class="toggleButton "
              (click)="lehrerWahl('Epoche', z,c, lehrerFach,$event , zeile)">
              <!--hier click im toggle-->
              <div class="dropSpan1">{{lehrerFach[0].kuerzel}}</div> :
              <div class="dropSpan2"> {{lehrerFach[1]}}</div>
            </button>

          </div>
        </div>
      </ng-container>

      <!--<div>{{ferien[z+1]}}-<br> {{ferien[5]}}</div>-->
    </div>
  </div>
</div>


<div id="planSchiene" *ngIf="planmakerS['schiene'+aktuelleKlasse]&&planmakerS.duplicatesSchiene">
  <div class="zeile" *ngFor="let zeile of planmakerS['schiene'+aktuelleKlasse]; index as z">
    <div class="datumzeile">
      <div class="first normalsize"></div>
      <div *ngFor="let datum of datumstring[z], index as c" class="normalsize {{emph(z,c)}}">{{datum}}</div>
    </div>
    <div class="row">
      <div class="first normalsize"> 
        <img *ngIf="z==0" src="../../../assets/icons/{{ferien[z]}}" width="20pt"/> 
        <img *ngIf="z==1" src="../../../assets/icons/{{ferien[z]}}" width="20pt"/> 
        <img *ngIf="z==2" src="../../../assets/icons/{{ferien[z]}}" width="20pt"/> 
        <img *ngIf="z==3" src="../../../assets/icons/{{ferien[z]}}" width="20pt"/> 
      </div>
      <ng-container *ngFor="let cell of zeile; index as c">
        <div
          *ngIf="( !planmakerS.duplicatesSchiene[z][c])      ||      (planmakerS.duplicatesSchiene[z][c]        &&            planmakerS.duplicatesSchiene[z][c][0]===c)"
          ngbDropdown class="{{planmakerS.duplicatesSchiene[z][c]? 'size-'+planmakerS.duplicatesSchiene[z][c].length:'size-1'}}">
          <div class="btn btn-outline-primary buttonDrop schiene"
            id="dropdownConfig" ngbDropdownToggle>
            <!--hier click im main-->
            <div *ngFor="let lehrerFach of cell" class="lehrerFachBehaelter ">
              <p>{{lehrerFach?lehrerFach[0].kuerzel:""}}</p>
              <p>{{lehrerFach?lehrerFach[1]:""}}</p>
            </div>
          </div>
          <div ngbDropdownMenu aria-labelledby="dropdownConfig" class="buttonContainer">
            <button ngbDropdownItem *ngFor="let lehrerFach of lehrerErmitteln()" class="toggleButton "
              (click)="lehrerWahl('Schiene', z,c, lehrerFach,$event , zeile)">
              <!--hier click im toggle-->
              <div class="dropSpan1">{{lehrerFach[0].kuerzel}}</div> :
              <div class="dropSpan2"> {{lehrerFach[1]}}</div>
            </button>

          </div>
        </div>
      </ng-container>

      <!--<div>{{ferien[z+1]}}-<br> {{ferien[5]}}</div>-->
    </div>
  </div>
</div>


  



