//achtung, css aus gesamtplan kopiert, kann vieles nutzlos sein...
*{margin:0pt;
    padding:0pt;}

.plan{
    padding:3pt;
}

.row,.oben{display:flex;
     height:30pt;
     margin-left:6pt;
  }
.oben{height:15pt;}
.row >div, .oben >div{
    width:40pt;
    border-top:solid 1pt;
    border-right:solid 1pt;
    font-size:8pt;   
}

.row{margin-bottom:15pt;
}
.row >div{
    border-bottom:solid 1pt;
}

.plan  :last-child{
    border-bottom: solid 1pt;
}

//.row  :first-child{border-left:solid 1pt}
//.oben  :first-child{border-left: solid 1pt}

button:hover{
    background-color:indianred;
  }



  .hellblau{background-color:lightsteelblue;}
  .rot{background-color:red;}
  .violet{background-color:violet;}
  .gruen{background-color:lightgreen;  }
  .hide{opacity:0;}
  .verdoppeln{width:80pt;}
  .dreimal{width:120pt;}
  .viermal{width:160pt;}
  .normalsize{width:40pt;}
  .show{opacity:1;}

.buttonContainer{  /* der Aufpopp-Rahmen*/
    border:none;
    margin:0pt;
    padding:0pt;  
      .dropCell{           /* das ist der button im Aufplopp-Rahmen*/
       
        border:none;
        text-align:left;
        display:flex;
        .dropSpan1{
            border:none;
       //   background-color:green;
          width:80pt;
          padding-left:10pt;
          padding-right:5pt;
         // border-radius:5pt;
        }
        .dropSpan2{
            border:none;
         // background-color:yellow;
          width:200pt;
          padding-left:10pt;
          padding-right:5pt;
          border-radius:5pt;
    
        }
      }
    }
    .dropButton{ /*Der ganze Button/jetzt div/ in der Table-Zelle*/
        overflow: hidden;
        height:100%;
      // background-color:orange;
        border:0;
        min-width:20pt;
        min-height:25pt;
      ///  background-color:pink; //HIER DARF kein Hintergrund rein SONST WIRDS NICHTs ROT
        display:flex;
        div{      //Lehrer-Fach-Behälter
          width:100%;
     //  background: yellow;
          height:100%; //NEU HIER
    
      }
     
      
      }