
*{margin:0pt;
    padding:0pt;}

.plan{
    padding:3pt;
}

.row,.oben{display:flex;
     height:30pt;
     margin-left:6pt;
  }
.oben{height:15pt;}
.row div, .oben div{
    width:40pt;
    border-top:solid 1pt;
    border-right:solid 1pt;
    font-size:8pt;  
    
}

.row{margin-bottom:15pt;
}
.row div{
    border-bottom:solid 1pt;
}

.plan  :last-child{
    border-bottom: solid 1pt;
}

.row  :first-child{border-left:solid 1pt}
.oben  :first-child{border-left: solid 1pt}

.buttonContainer{  /* der Aufpopp-Rahmen*/
    border:none;
    margin:0pt;
    padding:0pt;  
      .dropCell{           /* das ist der button im Aufplopp-Rahmen*/
        border:none;
        text-align:left;
        display:flex;
        .dropSpan1{
            border:none;
       //   background-color:green;
          width:80pt;
          padding-left:10pt;
          padding-right:5pt;
          border-radius:5pt;
        }
        .dropSpan2{
            border:none;
         // background-color:yellow;
          width:200pt;
          padding-left:10pt;
          padding-right:5pt;
          border-radius:5pt;
    
        }
      }
    }
