
*{margin:0pt;
  padding:0pt;}
p{margin:0pt;
padding:0pt;}

#rhythmus, #epochen,#schiene{
    display:flex;
    margin:0pt;
    padding:0pt;
    width:100%;
   
  
  
  }
  .epochenReihe{
    display:flex;
    width:100%;
    margin:0pt;
    padding:0pt;
  }

  .noOverflow{
    overflow: hidden;
    width:20pt;
    height:40pt;
   // background-color:darkgoldenrod;
    margin:0pt;
    padding:0pt;
  }
  .zelle{
    margin:0pt;
    padding:0pt;
    font-size:9pt;
    //width:30pt;
   // height:40pt;
   
  
    div>button{ //
      font-size:inherit;
      overflow:hidden;
     //display:center;
     //margin:0pt;
     //padding: 0pt;
    }
  }
   

  
  .datum{
  
      border-bottom-style:solid;
      border-bottom-width:1pt;
    
  
   }
   #stundenPlan {
     min-width:800pt;
 
    margin-left:auto;
    margin-right:auto;
    margin-top: 9pt;
    line-height: 0.8em;
    row-gap: 0pt;
    border-spacing: 0pt;
    border-collapse: collapse;
    margin-bottom: 20pt;
  
    tr {
      min-height: 20pt;
      margin: 0pt;
      padding: 0pt;
      border: 1px solid;

  
      >td {
         border: solid 1pt;
        text-align: center;
        width:auto;
        padding: 0pt;
   
            div >button{
              width:100%;
              min-height:30pt;
              display:flex;

            }

            div>button p{
              width:30%;
            }

            div >div>button{

            }
  
          :last-child{border-right:solid 0pt;}
      
      
      }
    }
  }

.zelle{font-size:8pt;}
  