
<input type="gesamtpunkte" required autofocus  (keyup)="onKey($event)"/>

<br>

<div>
    <p>
<span>6 </span>
<span>- 5 + </span>
<span>- 4 + </span>
<span>- 3 + </span>
<span>- 2 + </span>
<span>- 1 + </span>
</p>
<p>
<span> [0 - {{0.19*eingabe  | number:'1.1-5'}}]</span>
<span> ]{{0.19*eingabe  | number:'1.1-5'}} - {{0.26*eingabe | number:'1.1-2'}}]  - {{0.33*eingabe | number:'1.1-2'}}]  - {{0.40*eingabe | number:'1.1-2'}}]</span>
<span> ]{{0.40*eingabe | number:'1.1-2'}} - {{0.45*eingabe | number:'1.1-2'}}]  - {{0.50*eingabe | number:'1.1-2'}}]  - {{0.55*eingabe | number:'1.1-2'}}]</span>
<span> ]{{0.55*eingabe | number:'1.1-2'}} - {{0.60*eingabe | number:'1.1-2'}}] - {{0.65*eingabe| number:'1.1-2'}}]  - {{0.70*eingabe| number:'1.1-2'}}]</span>
<span> ]{{0.70*eingabe| number:'1.1-2'}} - {{0.75*eingabe| number:'1.1-2'}}] - {{0.80*eingabe| number:'1.1-2'}}]  - {{0.85*eingabe| number:'1.1-2'}}]</span>
<span> ]{{0.85*eingabe| number:'1.1-2'}} - {{0.90*eingabe| number:'1.1-2'}}]  - {{0.95*eingabe| number:'1.1-2'}}] - {{1*eingabe| number:'1.1-2'}}]</span>
</p>
</div>
