<!--
    <p>epochen-scheduler works!</p>
  <div style="text-align:center">
    <br> Name:
    <input #userName>
    <br> Price:
    <input #tutValue>
    <br>
    <button (click)="add(userName.value, tutValue.value)">Add some items</button>
    <br>
    <div style="text-align:center;display:unset;">
        List of Items:
        <ul>
            <li *ngFor="let item of items | async">
                {{ item.tut }}
            </li>

        </ul>
    </div>
</div>



<mat-checkbox>subscribe</mat-checkbox>

<input matInput [matDatepicker]="picker">
<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
<mat-datepicker #picker></mat-datepicker>-->


<div id="plan">
    <div class="oben">
        <div>Datum</div>  <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> 
    </div>
    <div class="row">
        <div>Sommerferien</div>  <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div>Herbstferien</div> 
    </div>
    <div class="row">

        <div>Herbstferien</div>  <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div>Weihnachtsferien</div> 
    </div>
    <div class="row">


        <div>Weihnachtsferien</div>  <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div>Osterferien</div> 
    </div>
    <div class="row">


        <div>Osterferien</div>  <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div>Sommerferien</div> 
    </div>
 


</div>


