div{
    display:flex;

    button{width:100%;
        border:none;
            margin:2pt;
            padding:1pt;
            background-color:rgb(132, 158, 147);
            border-radius:5pt;
    }
    button:hover{
        background-color:indianred;
    }
    
}

