/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body {
  background-color: rgb(39, 39, 41);

}

button :hover {
  background-color: indianred;
}

h1 {
  font-size: 20pt;
  text-align: center;
  text-decoration: underline;
}

h2 {
  font-size: 16pt;
  text-align: center;
}

.arrow {
  display: none !important;
}

.arrow::before {
  display: none !important;

}

.tooltip-inner {
  padding: 1pt !important;
  max-width: 150pt !important;
}

.tooltip {
  top: -15pt !important;
}

.dropdown-toggle::after {
  display: none;
}

@media print {
  @page {
    margin-top:0.5cm;
    size: landscape;
  }

  body {font-family: Georgia, ‘Times New Roman’, serif;
    writing-mode: horizontal-tb; //
    background-color: white;
  }

  .buttonreihe button {
    display: none;
  }


  //app root alles ausblenden bisauf printcontainer:
  body app-root app-lehrerliste>h1 {
    display: none;
  }

  body app-root app-lehrerliste>.gesamtStundenplan-Table {
    display: none;
  }

  body app-root app-lehrerliste>h2 {
    display: none;
  }

  #printcontainer :nth-child(6) {
    page-break-before: always;
  }

  #printcontainer :nth-child(10) {
    page-break-before: always;
  }

  #printcontainer .gesamtStundenplan-Table {
    line-height: 10pt;
    width: 100%;
  }

  #printcontainer .gesamtStundenplan-Table td .dropButton>div {
    width: 100%;
  }

  .gesamtStundenplan-Table td div {
    overflow: hidden;
    //width: 40px;
    font-size: 8pt;
  }

  .gesamtStundenplan-Table .lehrerFachBehaelter p {
    margin-top: 0pt;
    margin-bottom: 0pt;
  }

  .lehrerFachBehaelter :nth-child(2) {
    color: red;
  }

  //.lehrerFachBehaelter{border-left: 1pt solid;}
  .dropButton> :nth-child(2) {
    border-left: 1pt dotted;
  }

  .dropButton> :nth-child(3) {
    border-left: 1pt dotted;
  }

  //.gesamtStundenplan-Table  .dropButton :nth-child(3){border-left: 1pt solid;}

  h2 {
    margin-top: 10pt;
  }

  //-----------------------------------------------------------------------------------
  //Stundenplan alles ausblenden bis auf printcontainer2: 
 

  body app-root app-start .noprint{
    display: none;
  }

  

  

}
