*{margin:0pt;
padding:0pt;}
#menu{
    display: flex;
    align-items: center;
    background-color:inherit;
    border-bottom:1pt solid;
    margin:0pt;
}

button{
    //min-height:60pt;
    //min-width:60pt;
    color:lightgrey;
    background-color:inherit;
    margin-left:auto;
    margin-right : auto;
    border:none;
    font-size:16pt;

}

button:hover{
    background-color:indianred;
    color:red;
}

div{color:white;}